<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>uni0000</string>
    <string>uni000D</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>question</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>uni00A0</string>
    <string>macron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>uni0237</string>
    <string>dotaccent</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>uni0302</string>
    <string>tildecomb</string>
    <string>uni0304</string>
    <string>uni0306</string>
    <string>uni0307</string>
    <string>uni0308</string>
    <string>uni030A</string>
    <string>uni030B</string>
    <string>uni030C</string>
    <string>uni0326</string>
    <string>uni0327</string>
    <string>uni0328</string>
    <string>Germandbls</string>
    <string>endash</string>
    <string>emdash</string>
    <string>bullet</string>
    <string>trademark</string>
    <string>racute</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>abreve</string>
    <string>lacute</string>
    <string>cacute</string>
    <string>ccedilla</string>
    <string>ccaron</string>
    <string>eacute</string>
    <string>eogonek</string>
    <string>edieresis</string>
    <string>dcaron</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>oacute</string>
    <string>ohungarumlaut</string>
    <string>odieresis</string>
    <string>rcaron</string>
    <string>adieresis</string>
    <string>udieresis</string>
    <string>uhungarumlaut</string>
    <string>uacute</string>
    <string>yacute</string>
    <string>ecaron</string>
    <string>germandbls</string>
    <string>icircumflex</string>
    <string>iacute</string>
    <string>agrave</string>
    <string>atilde</string>
    <string>aring</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>ccircumflex</string>
    <string>emacron</string>
    <string>ebreve</string>
    <string>aogonek</string>
    <string>amacron</string>
    <string>IJ</string>
    <string>ij</string>
    <string>jcircumflex</string>
    <string>Jcircumflex</string>
    <string>Emacron</string>
    <string>ograve</string>
    <string>otilde</string>
    <string>ocircumflex</string>
    <string>ntilde</string>
    <string>Eth</string>
    <string>eth</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Dcaron</string>
    <string>Ccaron</string>
    <string>cdotaccent</string>
    <string>Cdotaccent</string>
    <string>Ccircumflex</string>
    <string>Cacute</string>
    <string>Ebreve</string>
    <string>edotaccent</string>
    <string>Edotaccent</string>
    <string>Eogonek</string>
    <string>Ecaron</string>
    <string>gcircumflex</string>
    <string>Gcircumflex</string>
    <string>gbreve</string>
    <string>Gbreve</string>
    <string>ydieresis</string>
    <string>ucircumflex</string>
    <string>ugrave</string>
    <string>oslash</string>
    <string>plus</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>gdotaccent</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>hcircumflex</string>
    <string>Hcircumflex</string>
    <string>itilde</string>
    <string>Itilde</string>
    <string>imacron</string>
    <string>Imacron</string>
    <string>iogonek</string>
    <string>Iogonek</string>
    <string>Aogonek</string>
    <string>equal</string>
    <string>yen</string>
    <string>bar</string>
    <string>cent</string>
    <string>brokenbar</string>
    <string>Rcaron</string>
    <string>Lacute</string>
    <string>Racute</string>
    <string>scedilla</string>
    <string>Scedilla</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zacute</string>
    <string>ycircumflex</string>
    <string>scircumflex</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>uni021B</string>
    <string>obreve</string>
    <string>omacron</string>
    <string>Zdotaccent</string>
    <string>Zcaron</string>
    <string>Scircumflex</string>
    <string>Sacute</string>
    <string>Ohungarumlaut</string>
    <string>Obreve</string>
    <string>Omacron</string>
    <string>Ncaron</string>
    <string>wcircumflex</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>wdieresis</string>
    <string>wacute</string>
    <string>wgrave</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>quotedblright</string>
    <string>quotesinglbase</string>
    <string>dollar</string>
    <string>percent</string>
    <string>comma</string>
    <string>quoteright</string>
    <string>Zacute</string>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>Nacute</string>
    <string>perthousand</string>
    <string>Euro</string>
    <string>backslash</string>
    <string>Gdotaccent</string>
    <string>tcaron</string>
    <string>utilde</string>
    <string>Utilde</string>
    <string>umacron</string>
    <string>Umacron</string>
    <string>ubreve</string>
    <string>Ubreve</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>Uring</string>
    <string>ogonek</string>
    <string>uogonek</string>
    <string>Uogonek</string>
    <string>Scaron</string>
    <string>tbar</string>
    <string>degree</string>
    <string>Tbar</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>at</string>
    <string>h</string>
    <string>hbar</string>
    <string>H</string>
    <string>Hbar</string>
    <string>copyright</string>
    <string>bracketright</string>
    <string>ellipsis</string>
    <string>AE</string>
    <string>ae</string>
    <string>cedilla</string>
    <string>registered</string>
    <string>ampersand</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>grave</string>
    <string>ordfeminine</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>OE</string>
    <string>oe</string>
    <string>braceleft</string>
    <string>asciitilde</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>underscore</string>
    <string>plusminus</string>
    <string>less</string>
    <string>greater</string>
    <string>multiply</string>
    <string>divide</string>
    <string>thorn</string>
    <string>Thorn</string>
    <string>sterling</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>periodcentered</string>
    <string>ldot</string>
    <string>Ldot</string>
    <string>lcaron</string>
    <string>quotedblleft</string>
    <string>quoteleft</string>
    <string>Lcaron</string>
    <string>paragraph</string>
    <string>numbersign</string>
    <string>Tcaron</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>asciicircum</string>
  </array>
</dict>
</plist>
